/.idea/*
!/.idea/*.iml
!/.idea/encodings.xml
!/.idea/misc.xml
!/.idea/modules.xml

/bin/
/cmake-build-*/
/build/

/libuv/build/
/libuv/watch_dir/

*.a
*.so

*.lib
*.obj
*.exp
*.dll
*.exe

*.log
*.zip
