# build witch multi version gcc to test gcc and C++ standard compatibility

name: Build x GCC

on:
  push:
    branches: [ "master" ]
    tags:
      - 'r*'
  pull_request:
    branches: [ "master" ]

jobs:
  build-gcc:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false

      matrix:
        gcc_compiler: [9, 10, 11, 12]
        build_type: [Release]

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set reusable strings
        id: strings
        shell: bash
        run: |
          echo "build-output-dir=${{ github.workspace }}/build" >> "$GITHUB_OUTPUT"

      - name: Install GCC ${{ matrix.gcc_version }}
        run: |
          sudo add-apt-repository ppa:ubuntu-toolchain-r/test
          sudo apt update
          sudo apt install gcc-${{ matrix.gcc_version }} g++-${{ matrix.gcc_version }}
          sudo update-alternatives --set gcc /usr/bin/gcc-${{ matrix.gcc_version }}
          sudo update-alternatives --set g++ /usr/bin/g++-${{ matrix.gcc_version }}

      - name: Configure CMake
        run: >
          cmake -B ${{ steps.strings.outputs.build-output-dir }}
          -DCMAKE_CXX_COMPILER=g++-${{ matrix.gcc_version }}
          -DCMAKE_C_COMPILER=gcc-${{ matrix.gcc_version }}
          -DCMAKE_BUILD_TYPE=${{ matrix.build_type }}
          -S ${{ github.workspace }}

      - name: Build
        run: cmake --build ${{ steps.strings.outputs.build-output-dir }} --config ${{ matrix.build_type }}

      - name: Test
        working-directory: ${{ steps.strings.outputs.build-output-dir }}
        run: ctest --build-config ${{ matrix.build_type }}
